<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css'>
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<!-- <link href="//cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet"> -->