<!DOCTYPE html>
<html lang="en">
  <head><% include head.ejs %></head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.haozheng.me">Hao Zheng -- Full Stack Developer</a>
        </div>
    </nav>

	<div id="content">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Graph</h2>
                <p>The data is generated based on the rule that the new data fluctuates in the range of 10 within the previous one. That means if the first data is 50, then the seconde one will fall in between 40-60. </p>
            </div>
        </div>
        <div class="row">
			<div class="demo-container">
				<div id="placeholder" class="demo-placeholder"></div>
			</div>
		</div>
	</div>
  	<% include js.ejs %>
  </body>
</html>
